@charset "utf-8";
/* CSS Document */
#chats {
    overflow-y: scroll;
    height: 280px;
    width: 100%;
    border: 1px solid #777;
}

#chats p{
    margin:0;
    padding:5px;
    border-bottom: 1px solid #bbb;
    word-break: break-all;
}	
	
